<!DOCTYPE html>
<html lang="en">
{{> head}}
<body class="sb-nav-fixed">
    {{> staffHeader}}
    <div class="modal-dialog modal-lg" role="document" style="margin-top: 1%; margin-left: 20%">
        <div class="modal-content">
          <center>  <div class="modal-header">
                <h2 class="modal-title">Assign Trainee </h2>
            </div></center>
            <div class="modal-body">
                <div class="py-1">
                    <form class="form" method="post" action="/doAddCourseDetail">
                      
                            
                                        <div class="form-group">
                                            <label>Course Name</label>
                                            <input class="form-control" type="text" value="{{old.course_name}}" name="name"
                                                placeholder="Course name">
                                            <span class="helper-text text-danger">{{errors.err_courseName}}</span>
                                        </div>
                                    </div>
                                    <div class="row"></div>
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Course Category</label>
                                            <select name="category" class="form-select"
                                                aria-label="Disabled select example">
                                                {{#each _categories}}
                                                <option value="{{categoryName}}" selected>{{categoryName}}</option>
                                                {{/each}}
                                            </select>
                                    
                                
                                        <div class="form-group">
                                            <label>Trainee</label>
                                            <input class="form-control" type="text" value="{{old.name_trainee}}" name="trainee"
                                                placeholder="Trainee">
                                            <span class="helper-text text-danger">{{errors.err_traineeName}}</span>
                                        </div>
                                  
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-end"> <center>
                                    <button class="btn btn-primary" type="submit">Save</button>
                                    <a href="/staff/CourseDetail" class="btn btn-warning">Cancel</a>
                                </div>
                            </div>
                            </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>