<!DOCTYPE html>
<html lang="en">

<body class="sb-nav-fixed">
    {{> head}}
    {{> staffHeader}}
    <div class="container py-5" style="margin-top: 1%; margin-left: 15%">
        <div class="form-group">
            <div class="input-group">
                <div class="container">
                    <div class="row">
                        <div class="col" style="margin-left: 1%">
                            <a href="/staff/course/add" class="button" style="margin-left: 45%;">
                            
                                <span>Add new Course</span>
                            </a>
                        </div>
                        <div class="col">
                         
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="e-panel card" style="width: 90%; margin-left: 1%">
            <div class="card-body">
                <div class="card-title">
                </div>
                <div class="e-table">
                    <div class="table-responsive table-lg mt-3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="max-width" style="text-align:center">Course Name</th>
                                    <th class="sortable" style="text-align:center">Course Category</th>
                                    <th style="text-align:center">Description</th>
                                    <th style="text-align:center">Update/Delete</th>  
                                </tr>
                            </thead>
                            <tbody>
                                {{#each _course}}
                                <tr>
                                    <td class="text-nowrap align-middle"><span>{{name}}</span></td>
                                    <td class="text-nowrap align-middle"><span>{{category}}</span></td>
                                    <td class="text-nowrap align-middle"><span>{{description}}</span></td>
                                    <td class="text-center align-middle">
                                        <div class="btn-group align-top">
                                            <a href="/staff/course/edit?id={{_id}}">
                                                <span>Update</span>
                                            </a>
                                            <a href="/staff/course/delete?id={{_id}}"
                                                onclick="return confirm('Are you sure?')" ">
                                                <span>Delete</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>